*.class
*.jar
.cpcache/
.idea
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
.shadow-cljs/
/*.log
/checkouts/
/classes/
/lib/
/node_modules
/package-lock.json
/target
/target/
/yarn.lock
pom.xml
pom.xml.asc
